torch
torchvision
timm
tqdm
numpy
scipy
scikit-image
matplotlib
imageio
tifffile
xarray
netcdf4
zarr==2.18.4
numcodecs==0.12.1
natsort
pooch
imagecodecs
xxhash
nibabel
tensorboard
segment-anything
torch-em>=0.8
git+https://github.com/computational-cell-analytics/micro-sam.git
git+https://github.com/ChaoningZhang/MobileSAM.git