torchvision
torchaudio
numpy
scipy
scikit-image
matplotlib
imageio
tifffile
tqdm
natsort
xarray
netcdf4
nibabel
tensorboard
segment-anything
kornia
zarr==2.18.4
numcodecs==0.12.1
napari[all]
git+https://github.com/computational-cell-analytics/micro-sam.git
git+https://github.com/constantinpape/torch-em.git